@page
@model GameButlerRazor.Pages.LoginPasswordModel
@{
    ViewData["Title"] = "Log In";
}
@{
    //string username = @Model.username;
    //if (@Model.rsaJson.publickey_exp != null)
    //{

    //    string exponent = @Model.rsaJson.publickey_exp;
    //    string modulus = @Model.rsaJson.publickey_exp;

    //}
}

<style>
    .vertical-padding {
        margin-top: 10%;
        max-height: 500px;
    }

    .align-center {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .login-container {
        max-width: 30%;
        max-height: 100%;
    }

    #login-form input[type="password"],
    #login-form input[type="text"] {
        width: 100%;
        padding: 12px 36px 12px 12px;
    }

    .fa-eye {
        position: relative;
        bottom: 30px;
        left: 44%;
        color: lightgray;
    }

    .fa-eye-slash {
        position: relative;
        bottom: 30px;
        left: 44%;
        color: lightgray;
    }
</style>

<body>
    <div class="container vertical-padding">
        <h1 class="text-center">@ViewData["Title"]</h1>
        <div class="container login-container">
            <form id="login" method="post">
                @{
                    <input asp-for="username" type="hidden" value="@Request.Query["username"]" id="username">
                    <input asp-for="publickey_mod" type="hidden" value="@Request.Query["publickey_mod"]" id="publickey_mod">
                    <input asp-for="publickey_exp" type="hidden" value="@Request.Query["publickey_exp"]" id="publickey_exp">
                    <input asp-for="timestamp" type="hidden" value="@Request.Query["timestamp"]" id="timestamp">
                    <input asp-for="success" type="hidden" value="@Request.Query["success"]" id="success">
                }
                <div class="row p-3 align-center no-gutters">
                    <div class="col-md">
                        <input asp-for="password" type="password" id="login-form" class="w-100 form-control" placeholder="Password..." required />
                        <i class="fa-solid fa-eye" id="show-password"></i>
                    </div>
                </div>
                <div class="row p-3 align-center">
                    <input id="loginButton" type="submit" class="btn-sm btn-secondary" style="width: 40%" >
                </div>
            </form>
            <a class="align-center nav-link" style="color: gray" href="https://help.steampowered.com/en/wizard/HelpWithLogin?redir=https%3A%2F%2Fsteamcommunity.com%2Flogin%2Fhome%2F%3Fgoto%3D"><u>I Forgot My Steam Login</u></a>
        </div>
    </div>
</body>
